{% extends "managerbase.html" %}

{% load i18n %} 
{% load staticfiles %}

{% block stylesheets %}
<link href={% static "css/publicdocuments.css" %} rel="stylesheet" type="text/css"/>
{% endblock stylesheets %}

{% block content %}


<!-- Document list, order random -->
<div class="container-pane-left">

	<table>
		<tr class="head">
		<td class="title">Document Title ( click to see content )</td>
	    {% if employee.role == "2-OMAN" %}
	    <td>
		</td>
		{% endif %}
		</tr>
	
		{% for document in  documents %}
		
		<tr>
		<form action="{% url "public-documents" %}" method="POST" >
		    {% csrf_token %}
			<td class="title">			
			<a href = "{{ document.url }}" target="_" >{{ document.name }}</a>	
			<input class="hidden" value="{{document.id}}" name="id"></input>
		    </td>
		    {% if employee.role == "2-OMAN" %}
		    <td>
		    <input name="button" type="submit" value="Delete" />
			</td>
			{% endif %}
		
		</form>
		</tr>
		{% endfor %}
	</table>
</div>


{% if employee.role == "2-OMAN" %}

<div class="container-pane-right">
	<form action="{% url "public-documents" %}" method="POST" enctype="multipart/form-data">
	    {% csrf_token %}
	    {{ form }}
	    <input name="button" type="submit" value="Upload" />
	</form>
</div>

{% endif %}

{% endblock content %}