{% extends "managerbase.html" %}

{% load i18n %} 
{% load staticfiles %}

{% block content %}

<div class="form-container">
	<form action="{% url "import-salary-assignments" %}" method="POST">

		<!-- 
			Gonna have a selection for the target period, month-year and a download file form
		-->
		
		<p>
		Import salary assigments
		</p>

	</form>
</div>	

<!--
	<div class="form-container">
		<form action="{% url "import-salary-assignments" %}" method="POST">
		    {% csrf_token %}
	
		    <input class="hidden" name="edited_id" value="{{ edited_id }}"></input>
		    <input type="submit" value="Save"></input>
		</form>
	</div>	
-->



<!--
	<table class="time-sheet-table report-table-small approve-table" id="employee-info">
		<thead>
			<td colspan="4">Existing salary sources</td>
		</thead>
		<tbody>
			{% for source in sourcelist %}
	
			<form action="{% url "manage-salary-sources" %}" method="POST">
				{% csrf_token %}
				<tr>
					<td class="hidden"><input name="id" value="{{ source.id }}"></input></td>
					<td><input name="code" value="{{ source.code }}" disabled></input></td>
					<td><input type="submit" name="button" value="Edit"></input></td>
					<td><input type="submit" name="button" value="Delete"></input></td>
				</tr>
			</form>
	
			{% endfor %}
		</tbody>
	</table>
-->

{% endblock content %}