{% extends "managerbase.html" %}

{% load i18n %} 
{% load staticfiles %}

{% block content %}

<div class="form-container">
	<form action="{% url "import-salary-assignments" %}" method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		<label>Period</label>
		<select name="data-period">
			{% for month in months %}
			<option {% if month == current_month.month %} selected {% endif %}>{{ month }} {{ current_month.year }}</option>
			{% endfor %}
		</select>

		<label>File to import</label>
		
		<input type="file" name="sheet" size="chars"></input>
		
		<input type="submit" name="Submit" value="Submit"></input>
		

	</form>
</div>	

{% if sheetdata %} 
<div class="document-view">

<table class="report-table time-sheet-table">

<thead>
	<tr>
		<td>Name</td>
		{% for key in sheetdata.percentage.0.keys %}
			{% if key != "name" %}
			<td>{{ key }}</td>
			{% endif %}
		{% endfor %}
	</tr>
</thead>

<tbody>
{% for data in sheetdata.percentage %}
	<tr>
		<td>{{ data.name }}</td>
		
		{% for key, value in data.items %}
			{% if key != "name" %}
			<td>{{ value }} %</td>
			{% endif %}
		{% endfor %}

	</tr>

{% endfor %}
</tbody>

<tfoot>
	<tr>
		<td>{{ sheetdata.totals.name }}</td>
		
		{% for key, value in sheetdata.totals.items %}
			{% if key != "name" %}
			<td>{{ value }} %</td>
			{% endif %}
		{% endfor %}
	</tr>

</tfoot>

</table>
</div>


{% endif %}

{% endblock content %}