{% extends "managerbase.html" %}

{% load i18n %} 
{% load staticfiles %}

{% block stylesheets %}
<link href={% static "css/profile.css" %} rel="stylesheet" type="text/css"/>
{% endblock stylesheets %}

{% block content %}

<div id="profile-view">

	<!-- Employee list only for HR -->
	{% if employee.role == '2-OMAN' or employee.seniority == '0-SEN' %}
	<div id="profile-list" class="selectable-list profile-form">
		
		<form  action="{% url "employee-profile" %}" method='post'>
			{% csrf_token %}
			
			<input name = 'button' type="submit" value="Update View"></input>
						
			<select size="50" name="ldap-user-name">
			{% for empl in employeelist %}
			<option value="{{ empl.1.sAMAccountName.0 }}"    
			{% if editedemployee.user.username = empl.1.sAMAccountName.0 %} selected {% endif %}
			
			>{{ empl.1.sn.0 }}, {{ empl.1.givenName.0 }}</option>
			{% endfor %}
			</select>
			<br>
			
		</form>
	
	</div>
	{% endif %}

	<!-- Employee detail for everybody -->
	<!-- editable only for HR -->
	<div id="profile-details" class="profile-form">	
		
		
		<form action="{% url "employee-profile" %}" method="POST" enctype="multipart/form-data">
		
			{% csrf_token %}
			
			<!-- Submit button only for HR -->
			{% if employee.role == '2-OMAN' %}
			<input name="button" type="submit" value="Save Profile"></input>
			{% endif %}
		
			<input name="user-id" value = "{{ editedemployee.user.id }}" type="hidden"></input>

			<div class="profile-group">



				<label>First name:</label>
				<label>Last name:</label>
				<label>E-mail address:</label>
				{% if editedemployee.picture %}
				<img class="profile-image" src="{{ editedemployee.picture.url }}" alt="Profile picture"></img>
				{% endif %}

				<br>
			
				<input type="text" value="{{ editedemployee.user.first_name }}"  disabled></input>
				
				<input type="text" value="{{ editedemployee.user.last_name }}" disabled ></input>
				
				<input type="text" value="{{ editedemployee.user.email }}" disabled ></input>

				
				{% if employee.role == '2-OMAN' %}
				<!-- upload image for HR -->
				<input name="picture" type="file" ></input>
				{% endif %}
	
	
			</div>
	
			<div class="profile-group">

				<label>Seniority:</label>
				<label>Position:</label>
				<label>Supervisor:</label>
				<label>Location:</label>

				<br>
				
				<select name="seniority" {% if not editable %} disabled {% endif %}>
				{% for sen in editedemployee.SENIORITIES %}
				<option value="{{ sen.0 }}" {% if editedemployee.seniority == sen.0 %} selected {% endif %}>{{ sen.1 }}</option>
				{% endfor %}
				</select>
			
				<input name="position" type="text" value="{{ editedemployee.position }}" {% if not editable %} disabled {% endif %}></input>

				<select name="supervisor" {% if not editable %} disabled {% endif %}>
				{% for empl in employeelist %}
				<option value="{{ empl.1.sAMAccountName.0 }}"    
				{% if editedemployee.supervisor.username = empl.1.sAMAccountName.0 %} selected {% endif %}
				
				>{{ empl.1.sn.0 }}, {{ empl.1.givenName.0 }}</option>
				{% endfor %}
				</select>

				<select name="location" {% if not editable %} disabled {% endif %}>
				{% for loc in editedemployee.LOCATIONS %}
				<option value="{{ loc.0 }}" {% if editedemployee.location == loc.0 %} selected {% endif %}>{{ loc.1 }}</option>
				{% endfor %}
				</select>

			</div>


			<div class="profile-group">
			
				<label>Employment status:</label>
				<label>Contract Start Date:</label>
				<label>Contract End Date:</label>
				<label>System role:</label>
				
				<br>
				
				<select name="empl-status"{% if not editable %} disabled {% endif %}>
				{% for stat in editedemployee.EMPLOYMENT_STATUS %}
				<option value="{{ stat.0 }}" {% if editedemployee.employment_status == stat.0 %} selected {% endif %}>{{ stat.1 }}</option>
				{% endfor %}
				</select>
				
				
				<input name="contract-start" type="text" value=
				{% if editedemployee.contract_end == None %}"YYYY-MM-DD"{% else%}
				"{{ editedemployee.contract_start|date:"Y-m-d" }}" {% endif %}
				{% if not editable %} disabled {% endif %}></input>
				
				<input name="contract-end" type="text" value=
				{% if editedemployee.contract_end == None %}"YYYY-MM-DD"{% else %}
				"{{ editedemployee.contract_end|date:"Y-m-d" }}"{% endif %}
				{% if not editable %} disabled {% endif %}></input>
			
				<select name="system-role" {% if not editable %} disabled {% endif %}>
				{% for rol in editedemployee.ROLES %}
				<option value="{{ rol.0 }}" {% if editedemployee.role == rol.0 %} selected {% endif %}>{{ rol.1 }}</option>
				{% endfor %}
				</select>
			
			
			</div>

			
			<div class="profile-group">
	
				<label>Gross salary (USD):</label>
				<label>Net salary (USD):</label>
				<label>Insurance:</label>
				<label>GSM Limit:</label>

				<br>
				
				<input name="salary-gross" type="number"  step="any" value="{{ editedemployee.salary_gross_usd }}" {% if not editable %} disabled {% endif %}></input>
				
				<input name="salary-net" type="number"  step="any" value="{{ editedemployee.salary_net_usd }}" {% if not editable %} disabled {% endif %}></input>
							
				<select name="insurance" {% if not editable %} disabled {% endif %}>
				<option value="True" {% if editedemployee.insurance  %} selected {% endif %}>Yes</option>
				<option value="False" {% if not editedemployee.insurance %} selected {% endif %}>No</option>
				</select>
	
				<input name="gsm-limit" type="number"  step="any" value="{{ editedemployee.gsm_limit }}" {% if not editable %} disabled {% endif %}></input>
			
			
			</div>
			
			<div class="profile-group">
			
				<label>Mobile Number:</label>
				<label>Personal Number:</label>
				<label>Date of Birth:</label>

				<br>
				
				<input name="mobile-num" type="text" value=
				{% if editedemployee.mobile_num == None %}""{% else%}
				"{{ editedemployee.mobile_num }}" {% endif %}
				{% if not editable %} disabled {% endif %}></input>
	
				<input name="personal-num"type="text" value=
				{% if editedemployee.personal_num == None %}""{% else%}
				"{{ editedemployee.personal_num }}" {% endif %}
				{% if not editable %} disabled {% endif %}></input>
	
				<input name="date-of-birth" type="text" value=
				{% if editedemployee.date_of_birth == None %}"YYYY-MM-DD"{% else%}
				"{{ editedemployee.date_of_birth|date:"Y-m-d" }}" {% endif %}
				{% if not editable %} disabled {% endif %}></input>
			
			
			</div>

			<div class="profile-group">
				<label>Address:</label>
				<label>Attached documents:</label>
			
				<br>
				
				<textarea name="address" type="text" class="multiline" {% if not editable %} disabled {% endif %}>
				{% if editedemployee.address != None %}
				{{ editedemployee.address }} {% endif %}
				</textarea>
				

				<div id="attachment-list">
				
					<!-- attachment list -->
					<ul>
					{% for attach in attachments %}
					<li>
						<a href="{{ attach.url }}"  target="_blank">{{ attach.name }}<br>{{ attach.created|date:"Y-m-d" }}</a>
						
						{% if employee.role == '2-OMAN' %}
							<button name="delete-attachment" type="submit" value="{{ attach.id }}">Remove</button>
						{% endif %}
					
					</li>
					{% endfor %}
					</ul>
					
					<!-- links to delete document for HR -->
				
				
	
					<!-- link to attach document for HR -->
		
		
					{% if employee.role == '2-OMAN' %}
					
					<div id="attach-links">
						<!-- upload image for HR -->
						
						
						<label>Document name</label>
						<input name="attachment-name" type="text"></input>
						
						<label>Link</label>
						<input name="attachment-link" type="text" ></input>

						<label>File</label>
						<input name="attachment-file"type="file" ></input>
						
					</div>					
					{% endif %}
	
	
				</div>
			
			
			
			</div>


	
	
	

			<div class="profile-group">

				<label>Vacation balance</label>
				<label>Sick balance</label>
				<label>Workday start</label>
				<label>Workday end</label>
				
				<br>
				
				<input {% if not editable %} disabled {% endif %} name="leave-hols" type="number" type="number" step="any" value={% if editedemployee.leave_balance_HOLS %} "{{ editedemployee.leave_balance_HOLS }}" {% else %} "" {% endif %}></input>
				
				<input {% if not editable %} disabled {% endif %} name="leave-sick" type="number" type="number" step="any" value={% if editedemployee.leave_balance_SICK %} "{{ editedemployee.leave_balance_SICK }}" {% else %} "" {% endif %}></input>
				
				<input {% if not editable %} disabled {% endif %} name="workday-start" type="text" value={% if editedemployee.workday_start %} "{{ editedemployee.workday_start}}"  {% else %} "10:00" {% endif %}></input>

				<input {% if not editable %} disabled {% endif %} name="workday-end" type="text" value={% if editedemployee.workday_end %} "{{ editedemployee.workday_end }}" {% else %} "18:00" {% endif %}></input>

			</div>

			
			<!-- Submit button only for HR -->
			{% if employee.role == '2-OMAN' %}
			<input name="button" type="submit" value="Save Profile"></input>
			{% endif %}

		</form>
	
		
		
	</div>

	

</div>


{% endblock content %}