
	<table class="time-sheet-table report-table">
		
		<tr>
			<td class="gray-cell">Employee</td>
			<td>{{ viewdocument.data.employee.user.first_name }} {{ viewdocument.data.employee.user.last_name }}</td>
		</tr>
		
		<tr>
			<td class="gray-cell">Submit date</td>
			<td>{{ viewdocument.data.submit_date }}</td>
		</tr>
	
		<tr>
			<td class="gray-cell">Leave Type</td>
			<td>{{ viewdocument.data.type }}</td>
		</tr>
	
		<tr>
			<td class="gray-cell">From</td>
			<td>
			{{ viewdocument.data.start_date|date:"Y-m-d" }} 
			{% if viewdocument.data.start_date == viewdocument.data.end_date %}
			{{ viewdocument.data.start_hour|time:"H:i"}}
			{% endif %}
			</td>
		</tr>
	
		<tr>
			<td class="gray-cell">To</td>
			<td>
			{% if viewdocument.data.start_date == viewdocument.data.end_date %}
			{{ viewdocument.data.start_date|date:"Y-m-d" }} {{ viewdocument.data.end_hour|time:"H:i"}}
			{% else %}
			{{ viewdocument.data.end_date }}
			{% endif %}			
			</td>
		</tr>
	
	</table>
	
	<table class="time-sheet-table report-table">
		<tr>
			<td class="gray-cell">Vacation Balance<br>at the time of request</td>		
			<td>{{ viewdocument.data.vacation_balance }}</td>
		</tr>

		<tr>
			<td class="gray-cell">Sick days balance<br>at the time of request</td>		
			<td>{{ viewdocument.data.sick_balance }}</td>
		</tr>

		<tr>
			<td class="gray-cell">Working days requested:</td>		
			<td>{{ viewdocument.data.workdays_requested }}</td>
		</tr>
	</table>


	<table class="time-sheet-table report-table">
		<tr>
			<td class="gray-cell">Approving Supervisor</td>
			<td>
			{% if viewdocument.data.approved_by %}
			{{ viewdocument.data.approved_by }}
			{% else %}
			{{ employee.user.first_name }} {{ employee.user.last_name }}
			{% endif %}
			
			</td>
		</tr>
		

		<tr>
			<td class="gray-cell">Approval Date</td>
			<td>
			{% if viewdocument.data.approve_date %}
			{{ viewdocument.data.approve_date }}
			{% else %}
			Pending
			{% endif %}
			
			</td>
		</tr>
		
	</table>
	
	
<!-- signatures -->
<table class="time-sheet-table" id="leave-signatures-table">
	<tr><td colspan="2" class="td-signature-header"><br></td></tr>
	<tr>
		<td>Employee Signature:</td><td class="td-signature">____________________________________</td>
	</tr>
	<tr>
		<td>Supervisor Signature:</td><td class="td-signature">____________________________________</td>
	</tr>
</table>

	
	
