@charset "utf-8";


* {
	color: #29578c;
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
}


html {
	width: 100%;
	height: 300%;
}

body {
	margin: 0; padding: 0;
	width: 100%;
	height: 100%;
	background-image: url('../images/office_background.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

#site-header {
	position: absolute;
	width: 100%;
	height: 60pt;

}

#site-header #site-logo {
	height: 100%;
}

#site-header #user-info {
	position: absolute;
	margin: auto;
	padding: 1em 1em 1em 3em;
	right: 0; top: 0;
}

#site-header #user-info a {
	border-radius: 6pt;
	border: 2px gray ridge;
	padding: .3em;
	margin-left: 2em;
}

#site-header #user-info a:HOVER {
	box-shadow: 2px 2px 2px #29578c;
}

#site-header #user-info a:ACTIVE {
	box-shadow: none;
}


#site-content {
	padding-top: 60pt;
}

.navigation-menu {
	width: 10em;
	font-size: 3pt;
}

.navigation-menu .ui-menu-item {
	width: 100%;
}