@charset "utf-8";

.page-title {
	margin: auto;
	text-align: center;
	
	font-size: 50pt;
	text-shadow: 2px 2px 2px #fff;
}

.front-page-buttons {
	margin: auto;
	text-align: center;	

}

.front-page-button {
	background-repeat: no-repeat;
	background-position: left;
	background-size: auto 100%;

	height: 40pt;
	width: 300pt;
	border-radius: 2pt;
	padding-left: 60pt;
	
	font-size: 20pt;
	text-shadow: 2px 2px 2px #dddddd;
	
	border: 2px gray ridge;
	margin: auto;
	margin-bottom: .5em;
	text-shadow: 1pt 1pt 1pt #000000;
	padding-top: .7em;
	
	background-color: #29578c;
	color:white;
}



.front-page-button:HOVER {
	box-shadow: 2px 2px 2px #29578c;
	text-shadow: 1pt 1pt 1pt #ffffff;
	
}

.front-page-button:ACTIVE {
	box-shadow: none;
}


#timesheets-button {
	background-image: url('../images/time_sheet_icon.png')
}

.confirmation-message {

	border: 1px solid #0d0;
	border-radius: 3pt;
/* 	min-height: 2em; */
	padding-top: 1em;
	width: 40%;
	color: #29578C;
	text-align: center;
	
	position: absolute;
	top: 4em;
	left: 30%;
	
	background-color: #eee;
	padding: 1em;
}