{% extends "managerbase.html"%}

{% load i18n %} 
{% load staticfiles %}


{% block scripts %}
<!-- minimal jquery ui to fold the generated documents -->
<script>
$(function() {
$( ".manager-reports" ).accordion({collapsible: true, active: false});
});
</script>
{% endblock scripts %}

{% block content %}
<div class="report-form-container">
	<form method="post" action=''>
	{% csrf_token %}

		<label>Period</label>
		<select name="data-period">
			<option>All</option>
			{% for period in viewdata.periods %}
			<option {% if period.period == reportdata.report_period %} selected {% endif %}>{{ period.period }}</option>
			{% endfor %}
		</select>

		<label>Employee</label>
		<select name="employee">
			<option>All</option>
			{% for employee in viewdata.employees %}
			<option {% if employee.user.username == reportdata.report_employee %} selected {% endif %}>{{ employee.user.username }}</option>
			{% endfor %}
		</select>

		<label>Document</label>
		<select name="document-type">
			{% for key, value in viewdata.documenttypes.items %}
			<option value="{{ key }}" {% if key == reportdata.report_document %} selected {%endif %}>{{ value }}</option>
			{% endfor %}
		</select>

	<input type="submit" name="button" value="Update View"></input>
	</form>
</div>

<div class="manager-reports">

{% for viewdata in reportdata.documents.timesheets %}

	
	{% with timesheetemployee=viewdata.timesheet.employee %}
	{% with viewdata=viewdata.viewdata %}
	
	<h3>Time Sheet - {{ timesheetemployee.user.username }}</h3>	
	{% include "report_time_sheet.html" %}
	
	{% endwith %}
	{% endwith %}

{% endfor %}


{% for leave in reportdata.documents.leaverequests %}
	
	{% with viewdocument=leave %}
	
	<h3>Leave Request - {{ leave.data.employee.user.username }}</h3>
	{% include "report_leave_request.html" %}

	{% endwith %}
	
{% endfor %}



{% for period in reportdata.documents.periodlist %}

	{% with salary_sources=reportdata.documents.salarysources %}
	{% with assignments=reportdata.documents.salaryassignments %}
	{% with employee_list=reportdata.documents.employeelist %}
	<h3>Salary Assignments - {{ period }}</h3>
	{% include "report_salary_assignments.html" %}
	
	{% endwith %}
	{% endwith %}
	{% endwith %}
	
{% endfor %}


</div>
{% endblock content %}
