{% extends "managerbase.html"%}

{% load i18n %} 
{% load staticfiles %}


{% block content %}
<div class="report-form-container">
	<form method="post" action=''>
	{% csrf_token %}

		<label>Period</label>
		<select name="data-period">
			<option>All</option>
			{% for period in viewdata.periods %}
			<option {% if period.period == reportdata.report_period %} selected {% endif %}>{{ period.period }}</option>
			{% endfor %}
		</select>

		<label>Employee</label>
		<select name="employee">
			<option>All</option>
			{% for employee in viewdata.employees %}
			<option {% if employee.user.username == reportdata.report_employee %} selected {% endif %}>{{ employee.user.username }}</option>
			{% endfor %}
		</select>

		<label>Document</label>
		<select name="document-type">
			{% for key, value in viewdata.documenttypes.items %}
			<option value="{{ key }}" {% if key == reportdata.report_document %} selected {%endif %}>{{ value }}</option>
			{% endfor %}
		</select>

	<input type="submit" name="button" value="Update View"></input>
	</form>
</div>

<div>


</div>
{% endblock content %}
