{% extends "managerbase.html" %}

{% load i18n %} 
{% load staticfiles %}



{% block content %}


<div class="side-information">
	<strong>Employee Accounts</strong><br><br>
	<table>
	{% for empl in viewdata.employees %}
	<tr><td>{{ empl.user.last_name }},&nbsp;&nbsp;</td><td>{{ empl.user.first_name}}</td></tr>
	{% endfor %}
	</table>
</div>

<div class="form-container" id="employee-form">
<form method="post" action="manageaccounts">
{% csrf_token %}

<select name="account-name">
	{% for employeeaccount in viewdata.accounts %}
		{% if viewdata.userdata.username and viewdata.userdata.username == employeeaccount.1.sAMAccountName.0 %}
		<option value="{{ employeeaccount.1.sAMAccountName.0 }}" selected>{{ employeeaccount.1.sn.0 }}, {{ employeeaccount.1.givenName.0  }}</option>
		{% else %}
		<option value="{{ employeeaccount.1.sAMAccountName.0 }}">{{ employeeaccount.1.sn.0 }}, {{ employeeaccount.1.givenName.0  }}</option>
		{% endif %}
	{% endfor %}
<select>

<input name="button" type="submit" value="Update View"></input>

<label>Position</label>
<input name="position" type="text" value ={% if viewdata.userdata.position %} "{{ viewdata.userdata.position }}" {% else %} "" {% endif %} ></input>

<label>System Role</label>
<select name="role">
	{% for name, display in viewdata.roles %}}
	
		{% if viewdata.userdata.role and viewdata.userdata.role == name %} 
			<option value = "{{ name }}" selected>{{ display }}</option>
		{% elif viewdata.defaults.role and viewdata.defaults.role == name %} 
			<option value = "{{ name }}" selected>{{ display }}</option>
		{% else%}		
			<option value = "{{ name }}">{{ display }}</option>
		{% endif %}
	{% endfor %}
</select>

<label>Supervisor</label>
<select name="super-name">
	{% for employeeaccount in viewdata.accounts %}
		{% if viewdata.userdata.username and viewdata.userdata.username == employeeaccount.1.sAMAccountName.0 %}
		<option value="{{ employeeaccount.1.sAMAccountName.0 }}" selected>{{ employeeaccount.1.sn.0 }}, {{ employeeaccount.1.givenName.0  }}</option>
		{% else %}
		<option value="{{ employeeaccount.1.sAMAccountName.0 }}">{{ employeeaccount.1.sn.0 }}, {{ employeeaccount.1.givenName.0  }}</option>
		{% endif %}
	{% endfor %}
<select>

<label>Workday start (HH:MM)</label>
<input name="start-time" type=text value={% if viewdata.userdata.start_time %} "{{ viewdata.userdata.start_time|time:"H:i" }}" {% else %} "{{ viewdata.defaults.start_time }}" {% endif %}></input>

<label>Workday end (HH:MM)</label>
<input name="end-time" type=text value={% if viewdata.userdata.end_time %} "{{ viewdata.userdata.end_time|time:"H:i" }}" {% else %} "{{ viewdata.defaults.end_time }}" {% endif %}></input>

<label>Break hours</label>
<input name="break-hours" type=text value={% if viewdata.userdata.break_hours %} "{{ viewdata.userdata.break_hours }}" {% else %} "{{ viewdata.defaults.break_hours }}" {% endif %}></input>

<label>Location</label>
<input name="location" type=text value={% if viewdata.userdata.location %} "{{ viewdata.userdata.location }}" {% else %} "{{ viewdata.defaults.location }}" {% endif %}></input>

<label>Vacation balance</label>
<input name="leave-hols" type=text value={% if viewdata.userdata.leave_hols %} "{{ viewdata.userdata.leave_hols }}" {% else %} "" {% endif %}></input>

<label>Sick balance</label>
<input name="leave-sick" type=text value={% if viewdata.userdata.leave_sick %} "{{ viewdata.userdata.leave_sick }}" {% else %} "" {% endif %}></input>

<input name="button" type="submit" value="Create or Update"></input>

</form>





<div>


{% endblock content %}