
<table class="time-sheet-table report-table">
	
	<tr>
		<td class="gray-cell">Employee</td>
		<td>{{ viewdocument.data.employee.user.first_name }} {{ viewdocument.data.employee.user.last_name }}</td>
	</tr>
	
	<tr>
		<td class="gray-cell">Submit date</td>
		<td>{{ viewdocument.data.submit_date }}</td>
	</tr>

	<tr>
		<td class="gray-cell">Leave Type</td>
		<td>{{ viewdocument.data.type }}</td>
	</tr>

	<tr>
		<td class="gray-cell">From</td>
		<td>{{ viewdocument.data.start_date }}</td>
	</tr>

	<tr>
		<td class="gray-cell">To</td>
		<td>{{ viewdocument.data.end_date }}</td>
	</tr>

</table>

<table class="time-sheet-table report-table">
	<tr>
		<td class="gray-cell">Approving Supervisor</td>
		<td>
		{% if viewdocument.data.approved_by %}
		{{ viewdocument.data.approved_by }}
		{% else %}
		{{ employee.user.first_name }} {{ employee.user.last_name }}
		{% endif %}
		
		</td>
	</tr>
	
	<tr>
		<td class="gray-cell">Approval Date</td>
		<td>
		{% if viewdocument.data.approve_date %}
		{{ viewdocument.data.approve_date }}
		{% else %}
		Pending
		{% endif %}
		
		</td>
	</tr>
	
</table>