<!-- Listing all defined salary sources for quickreview -->
{% if assignments.count > 0 %}
<div class="document-view">
	
	<div id="time-sheet-title" class="page-title">

	Salary Assignments - {{ period }}
	
	</div>



	<table class="time-sheet-table report-table-small" id="report-salary-assignment">
		<thead>
			<td>Employee</td>
			<td>Period</td>
			{% for s_source in salary_sources %}
				<td>{{ s_source.code }}</td>
			{% endfor %}
		</thead>	
			
		<tbody>
		{% for empl in employee_list %}
		<tr>
			<td>{{ empl.user.last_name }}, {{ empl.user.first_name }}</td>
			<td>{{ period }}</td>
			{% for s_source in salary_sources %}
				{% for s_assign in assignments %}
					{% if s_assign.employee.id = empl.id and s_assign.source.code = s_source.code and s_assign.period == period %}
						<td>{{ s_assign.percentage }} &#37;</td>
					{% endif %}
				{% endfor %}
			{% endfor %}
		</tr>
		{% endfor %}
		</tbody>

	</table>
</div>
{% endif %}