{% extends "managerbase.html"%}

{% load i18n %} 
{% load staticfiles %}




{% block content %}

<!-- 
For Employee: 
- view and submit timesheet
- request leave
- documents to approve (anybody who has something assigned will see them)

For O Manager:
- Manage Employees
- view ready reports
 - time sheets (approved)
 - leave requests (approved)
 
 For F Manager
- manage salary sources
- assign salary sources

-->



<!-- This will always be true but it's here for clarity -->
{% if employee.role == 'EMPL' or employee.role == 'FMAN' or employee.role == 'OMAN'%}

<div class="front-page-buttons timesheet-actions" id="employee-actions">
	<a href="submittimesheet">
 	<div type="button" class="front-page-button time-sheets-button">{% trans "Submit Time Sheet" %}</div> 
	</a>

	<a href='requestleave'>
 	<div type="button" class="front-page-button time-sheets-button">{% trans "Request Leave" %}</div> 
	</a>
	<!--
		<a href=''>
	 	<div type="button" class="front-page-button time-sheets-button">{% trans "Request a Training" %}</div> 
		</a>
	-->

	<a href='docstoapprove'>
 	<div type="button" class="front-page-button time-sheets-button">{% trans "Documents to Approve" %}</div> 
	</a>
</div>

	

{% endif %}

<!-- Employee + Financial Manager -->	
{% if employee.role == 'FMAN' or employee.role == 'OMAN'%}

<div class="front-page-buttons timesheet-actions" id="finman-actions">
	<a href='salarysources'>
 	<div type="button" class="front-page-button time-sheets-button">{% trans "Manage Salary Sources" %}</div> 
	</a>

	<a href='assignsalary'>
 	<div type="button" class="front-page-button time-sheets-button">{% trans "Assign Salary Sources" %}</div> 
	</a>
</div>

{% endif %}

<!-- Employee + Financial Manager + Office Manager -->
{% if employee.role == 'OMAN' %}

<div class="front-page-buttons timesheet-actions" id="offman-actions">
	<a href='approveddocuments'>
 	<div type="button" class="front-page-button time-sheets-button">{% trans "Approved Documents" %}</div> 
	</a>
	<!--
		<a href=''>
	 	<div type="button" class="front-page-button time-sheets-button">{% trans "Bulk Reporting" %}</div> 
		</a>
	-->

	<a href='manageaccounts'>
 	<div type="button" class="front-page-button time-sheets-button">{% trans "Employees" %}</div> 
	</a>

</div>

{% endif %}


{% endblock content %}