{% extends "managerbase.html"%}

{% load i18n %} 
{% load staticfiles %}

{% block stylesheets %}

<link href="{% static "css/docprint.css" %}" rel="stylesheet" type="text/css"/ media="print">
{% endblock stylesheets %}

{% block scripts %}
<!-- minimal jquery ui to fold the generated documents -->
<script>
$(function() {
	$( ".manager-reports" ).accordion({collapsible: true, active: false});
	
	$( "#print-button" ).click(function() {
		window.print();
	});
});






</script>
{% endblock scripts %}

{% block content %}


<div id="print-button" title="Lalala" style="width:50px; height: 50px; background-color:black;"></div>

<div class="report-form-container">
	<form method="post" action="{% url "approved-documents" %}">
	{% csrf_token %}

		<label>Period</label>
		<select name="data-period">
			<option>All</option>
			{% for period in viewdata.periods %}
			<option {% if period.period == reportdata.report_period %} selected {% endif %}>{{ period.period }}</option>
			{% endfor %}
		</select>

		<label>Employee</label>
		
		
		
		<select name="report-employee" 
		{% if employee.seniority != "0-SEN" and  eployee.role != "2-OMAN" %}
		 disabled
		{% endif %}		
		>
			<option>All</option>
			{% for profile in viewdata.employees %}
			<option {% if profile.user.username == reportdata.report_employee %} selected {% endif %}, value="{{ profile.user.username }}">
				{{ profile.user.last_name }}&nbsp{{ profile.user.first_name }}
			</option>
			{% endfor %}
		</select>

		<label>Document</label>
		<select name="document-type">
			{% for key, value in viewdata.documenttypes.items %}
			<option value="{{ key }}" {% if key == reportdata.report_document %} selected {%endif %}>{{ value }}</option>
			{% endfor %}
		</select>

	<input type="submit" name="button" value="Update View"></input>
	</form>
</div>

<div class="manager-reports">

{% for viewdata in reportdata.documents.timesheets %}

	
	{% with timesheetemployee=viewdata.timesheet.employee %}
	{% with viewdata=viewdata.viewdata %}
	
	<h3>Time Sheet - {{ timesheetemployee.user.first_name }} {{ timesheetemployee.user.last_name }} - {{ viewdata.period }}</h3>	
	<div class="document-view timesheet-view centered-view">
	{% include "time_sheet_render.html" %}
	</div>
	
	{% endwith %}
	{% endwith %}

{% endfor %}


{% for leave in reportdata.documents.leaverequests %}
	
	{% with viewdocument=leave %}
	
	<h3>Leave Request - {{ leave.data.employee.user.first_name }} {{ leave.data.employee.user.last_name }} - 
	{{ leave.data.type }}:  
	{{ leave.data.start_date|date:"Y-m-d" }} - {{ leave.data.end_date|date:"Y-m-d" }}
	</h3>
	<div class="document-view timesheet-view centered-view">
	{% include "report_leave_request.html" %}
	</div>
	{% endwith %}
	
{% endfor %}


{% comment %}
	{% for period in reportdata.documents.periodlist %}
	
		{% with salary_sources=reportdata.documents.salarysources %}
		{% with assignments=reportdata.documents.salaryassignments %}
		{% with employee_list=reportdata.documents.employeelist %}
		<h3>Salary Assignments - {{ period }}</h3>
		{% include "report_salary_assignments.html" %}
		
		{% endwith %}
		{% endwith %}
		{% endwith %}
		
	{% endfor %}
{% endcomment %}

</div>
{% endblock content %}
