{% load i18n %} 

<div id="time-sheet-title" class="page-title">

Time Sheet Effort Reporting<br>
Transparency International Georgia<br>
LOCATION - 
{% for LOC, loc in employee.LOCATIONS %}
{% if LOC == employee.location %}
{{ loc }}
{% endif %}
{% endfor %}

</div>

<!-- employee information -->

<table  class="time-sheet-table" id="time-sheet-employee-info">
	<tr>
		<td>Report period:</td><td>{{ viewdata.period }}</td>
	</tr>
	<tr>
		<td>Name:</td><td>{{ employee.user.first_name }} {{ employee.user.last_name }}</td>
	</tr>
	<tr>
		<td>Position:</td><td>{{ employee.position }}</td>
	</tr>
</table>





<!-- time sheet -->
<table class="time-sheet-table">
	<thead class="table-header">
		<td>Pay Period: Day</td>
		<td>Date/Day</td>
		<td>Start Time</td>
		<td>End Time</td>
		<!-- <td>Break Hours</td> -->
		<td>Hours Worked</td>
	</thead>
	<tbody>
	{% for day in viewdata.calendar %}
		
		<tr {% if day.6 == 5 or day.6 == 6 %} class="gray-row" {% endif %}>
			<td>{{ day.0 }}</td>
			<td>{{ day.1 }}</td>
			{% if day.2 == day.3 %}
				{% autoescape off %}
				<td colspan="2">{{ day.2 }}</td>
				{% endautoescape %}
			{% else %}
				<td>{{ day.2 }}</td>
				<td>{{ day.3 }}</td>
			{% endif %}
			<td>{{ day.4 }}</td>
			<!-- <td>{{ day.5 }}</td> -->
		</tr>
	{% endfor %}
	</tbody>
	<tfoot class="table-footer">
		<td></td><td></td><td></td><td></td>
		<td>{{ viewdata.working_time }}</td>
	</tfoot>
</table>


<!-- slary assignment -->
<table class="time-sheet-table" id="salary-assignment-table">

	<thead>
		<td>{% trans "Grant code" %}</td><td>% {% trans "to charge" %}</td>
	</thead>
	
	<tbody>
		{% for key,value in viewdata.salary_sources.items %}
		<tr><td>{{ key }}</td><td>{{ value.0 }} &#37;</td></tr>
		{% endfor %}
	</tbody>

</table>


<!-- leave balance -->
<table class="time-sheet-table" id="leave-balance-table">
	<thead>
		<td></td><td>Vacation</td><td>Sick</td><td></td>
	</thead>
	<tbody>
		<tr>
			<td>Beginning balance</td>
			<td class="gray-cell">{{ viewdata.leave.0 }}</td>
			<td class="gray-cell">{{ viewdata.leave.1 }}</td>
			<td></td>
		</tr>

		<tr>
			<td>Earn (+)</td>
			<td class="gray-cell">{{ viewdata.leave.2 }}</td>
			<td class="gray-cell">{{ viewdata.leave.3 }}</td>
			<td></td>
		</tr>

		<tr>
			<td>Used (-)</td>
			<td class="gray-cell">{{ viewdata.leave.4 }}</td>
			<td class="gray-cell">{{ viewdata.leave.5 }}</td>
			<td></td>
		</tr>

		<tr>
			<td>End balance (=)</td>
			<td class="gray-cell">{{ viewdata.leave.6 }}</td>
			<td class="gray-cell">{{ viewdata.leave.7 }}</td>
			<td></td>
		</tr>

	</tbody>
</table>
