<!-- 
	{% block scripts %}
	<script>
	$(function() {
		$( "#nav-menu" ).menu();
	});
	</script>
	{% endblock scripts %}
-->

<div id="navigation-menu">

	<ul id="nav-menu">
		<li><a href="submittimesheet">Submit Time Sheet</a></li>	
		<li><a href="requestleave">Request Leave</a></li>	
		<li><a href="docstoapprove">Approve Documents</a></li>

		{% if employee.role == "FMAN" or employee.role == "OMAN" %}		
		<li><a href="salarysources">Manage Salary Sources</a></li>	
		<li><a href="assignsalary">Assign Salary Sources</a></li>
		{% endif %}

		{% if employee.role == "OMAN" %}		
		<li><a href="manageaccounts">Employees</a></li>	
		<li><a href="approveddocuments">Approved Documents</a></li>
		{% endif %}
	</ul>


</div>