<!-- 
	{% block scripts %}
	<script>
	$(function() {
		$( "#nav-menu" ).menu();
	});
	</script>
	{% endblock scripts %}
-->

<div id="navigation-menu">
	{% if not hidemenu %}
		{% if employee.user.is_authenticated %}

		<ul id="nav-menu">
			<li><a href="{% url "submit-time-sheet" %}">Submit Time Sheet</a></li>	
			<li><a href="{% url "request-leave" %}">Request Leave</a></li>	
			<li><a href="{% url "documents-to-approve" %}">Approve Documents</a></li>
	
			{% if employee.role == "1-FMAN" or employee.role == "2-OMAN" %}		

			{% comment %}
			<!--
				<li><a href="{% url "manage-salary-sources" %}">Manage Salary Sources</a></li>	
				<li><a href="{% url "assign-salary" %}">Assign Salary Sources</a></li>
			-->
			{% endcomment %}
			
			<li><a href="{% url "import-salary-assignments" %}">Import Salary Assignments</a></li>	
			
			{% endif %}
	
			{% if employee.role == "2-OMAN" or employee.seniority == "0-SEN" %}		
			<li><a href="{% url "employee-profile" %}">Employees</a></li>	
			{% endif %}
			
			{% if employee.role == "2-OMAN" %}	
			<li><a href="{% url "import-public-holidays" %}">Import Holidays</a></li>
			<li><a href="{% url "manage-custom-holidays" %}">Custom Holidays</a></li>

			{% endif %}

			<li><a href="{% url "approved-documents" %}">Approved Documents</a></li>
			
			<li><a href="{% url "public-documents" %}">Public Documents</a></li>
			
		</ul>

		{% endif %}
	{% endif %}
</div>