{% extends "managerbase.html"%}

{% load i18n %} 
{% load staticfiles %}


{% block content %}

<!-- 
For Employee: 
- view and submit timesheet
- request leave
- documents to approve (anybody who has something assigned will see them)

For O Manager:
- Manage Employees
- view ready reports
 - time sheets (approved)
 - leave requests (approved)
 
 For F Manager
- manage salary sources
- assign salary sources

-->



<!-- This will always be true but it's here for clarity -->
{% if employee.role == '0-EMPL' or employee.role == '1-FMAN' or employee.role == '2-OMAN'%}

<div class="front-page-buttons timesheet-actions" id="employee-actions">
	<a href="{% url "submit-time-sheet" %}">
 	<div type="button" class="front-page-button time-sheets-button">{% trans "Submit Time Sheet" %}</div> 
	</a>

	<a href="{% url "request-leave" %}">
 	<div type="button" class="front-page-button time-sheets-button">{% trans "Request Leave" %}</div> 
	</a>
	<!--
		<a href=''>
	 	<div type="button" class="front-page-button time-sheets-button">{% trans "Request a Training" %}</div> 
		</a>
	-->

	<a href="{% url "documents-to-approve" %}">
 	<div type="button" class="front-page-button time-sheets-button">{% trans "Documents to Approve" %}</div> 
	</a>
	
	<a href="{% url "approved-documents" %}">
 	<div type="button" class="front-page-button time-sheets-button">{% trans "Approved Documents" %}</div> 
	</a>
	
	
</div>

	

{% endif %}

<!-- Employee + Financial Manager -->	
{% if employee.role == '1-FMAN' or employee.role == '2-OMAN'%}

{% comment%}
<!--
<div class="front-page-buttons timesheet-actions" id="finman-actions">
	<a href="{% url "manage-salary-sources" %}">
 	<div type="button" class="front-page-button time-sheets-button">{% trans "Manage Salary Sources" %}</div> 
	</a>

	<a href="{% url "assign-salary" %}">
 	<div type="button" class="front-page-button time-sheets-button">{% trans "Assign Salary Sources" %}</div> 
	</a>
</div>
-->
{% endcomment %}

{% endif %}

<!-- Employee + Financial Manager + Office Manager -->
{% if employee.role == '2-OMAN' or employee.seniority == '0-SEN'%}

<div class="front-page-buttons timesheet-actions" id="offman-actions">

	<a href="{% url "employee-profile" %}">
 	<div type="button" class="front-page-button time-sheets-button">{% trans "Employees" %}</div> 
	</a>

	<a href="{% url "import-public-holidays" %}">
 	<div type="button" class="front-page-button time-sheets-button">{% trans "Import Public Holidays" %}</div> 
	</a>

</div>

{% endif %}


{% endblock content %}