@charset "utf-8";

.time-sheets-button {
	/* 	width: 300px; */
	
}

.timesheet-actions {
	margin: 40pt 1em 0 5em;
	float: left;
}

#employee-actions {
	
}

#finman-actions {
	
}

#offman-actions {
	
}

/*************************/
/* Sumbit a time sheet */
.time-sheet-table {
	background-color: white;
/* 	padding: 1em; */
	border-radius: 2pt;
	border-spacing: 0;
	margin: 2em 0 0 2em;

	border: 1px solid black;
	border-radius: 2pt;
/* 	margin-top: 1em; */
}

.time-sheet-table td {
	border: 1px solid black;
	padding: .1em 1em;
	text-align: center;
}

.time-sheet-table tfoot td {
	padding-top: 1em;
	background-color: #ccc;
}

.time-sheet-table thead td {
	padding-bottom: 1em;
	background-color: #ccc;
}

.time-sheet-table .gray-row td, .time-sheet-table .gray-cell {
	background-color: #eee;
}



#time-sheet-title {
	text-align: center;
	font-size: 20pt;
	margin-bottom: 0em;
	padding-top: 0em;
}



.hidden {
	display: none;
}

/* documents to approve list and reports*/
.approve-table, .report-table, .report-table-small {
/* 	position: relative; */
/* 	top: 0; */
/* 	left: 0; */
	margin: auto;
	margin-bottom: 1em;
}

.report-table-small {
	float:left;

}

.report-table-small#employee-info {
	float:none;	
}
.report-table-small#employee-info td {
	text-align: left;
	padding: 0 2em;
}

.report-table td {
	padding: 1em ;
	width: 20em;
	text-align: left;
}

.report-table-small td {
	text-align: centre;
	max-width: 10em;
	width: auto;
	font-size: 8pt;
	padding: .1em .5em;
}

.document-view {
	width: 210mm;
	min-height: 297mm;
	background: white;
	margin: auto;
	margin-bottom:1em;

	border: 1px dashed black;
}

.timesheet-view {
	padding-top: 5em;
	position: relative;
	left: 15em;
	font-size: 8pt;
}

.centered-view {
	left: 0;	
}

/* salary assignment table */
#report-salary-assignment {
	float: none;
}

#report-salary-assignment td {
	width: 5em;
}

.balance-information, .side-information {
	border-radius: 2pt;
	border: 2px gray ridge;
	width: 12em;
	padding: 1em;
	margin-right: 1em;
	float: right;
}

.balance-information td {
	padding: .3em 1em 0em 0;
}

/* improvement to the default accordion */
.ui-accordion .ui-accordion-content {
	padding: 0;
}

/* Employee info */

.floating-table {
	float: left;
}

#time-sheet-employee-info {
	
/* 	margin-top: 1em; */
	border: 1px solid black;
	clear:both;
}

#time-sheet-employee-info td {
	text-align: left;
	padding-right: 5em;
}

#time-sheet-employee-info td {
	display: inline-block;
	padding-top: 1em;
	border: none;
	width: 10em;
}

#time-sheet-employee-info td.td-data {
	border-bottom: 1px solid black;
	width: 16em;
}

.time-sheet-notice{
	border: 1px solid black;
	border-radius: 2pt;
/* 	margin-top: 1em; */
/* 	margin-left: 1em; */
}

.time-sheet-notice td {
	width: 25em;
	padding: 1em 1em;
	text-align: justify;
	border: none;
	
}

td.td-signature {
	text-align: right;
	padding: 1.5em 1em .5em 1em;
}

#time-sheet {
	clear: both;
}

#time-sheet, #salary-assignment-table {
	margin: 2em 0 0 2em;
	padding: 0;
	border-radius: 2pt;
	border: 1px solid black;
}


#salary-assignment-table td {
	width: 14em;
}

#salary-assignment-table .td-data {
	width: 9em;
}

#signatures-table {
	clear: both;

	margin: 2em 0 0 2em;
	padding: 0;
}

#signatures-table td {
	width: 10em;
	border: none;
	text-align: left;
}

#signatures-table td.td-signature {
	text-align: left;
	width: 24em;
}

#leave-balance-table td {	
	padding: .3em 1em;
}

#leave-balance-table .td-data {
	width: 5em;
	padding-top: 1em;
}



.td-spacer {
	height: 2em;
}

.centered-view {
	margin: auto;
}














