@charset "utf-8";

.profile-form {
	float: left;
	padding: 2em;
	position: relative;
	width: 20%;
}

#profile-details.profile-form {
	/* 	width: auto; */
	width: 60%;
}

.profile-form form {
	width: 80%;
}

.profile-form form label, .profile-form form input, .profile-form form select,
	.profile-form form textarea {
	display: inline-block;
}

.profile-form form label {
	width: 100pt;
	padding-right: 1em;
	text-align: right;
}

.profile-form form .multiline {
	height: 10em;
}

.profile-form form input, .profile-form form select, .profile-form form textarea
	{
	width: 250pt;
	padding-left: 1em;
}

.profile-form form .profile-image {
	display: block !important;
	width: 80pt;
}

#profile-list form {
	padding-left: 2em;
	padding-right: 2em;
}

#profile-list form select, #profile-list form input {
	width: 150pt !important;
}

.profile-form form textarea {
	padding-top: 1em;
	padding-bottom: 1em;
}

.profile-form form div {
	border: 2px gray ridge;
	border-radius: 2pt;
	padding: 1em 1em;
}

.profile-form form div p {
	width: 80%;
	margin: auto;
	text-align: center;
	margin-bottom: 1em;
}

.profile-form form input[type="submit"] {
	width: 95%;
	margin-top: 1em;
	margin-bottom: 1em;
}

.profile-form .hidden {
	display: none;
}